<div class="presentation-container">
    <!-- Fullscreen Presentation -->
    <div *ngIf="isPresenting && (isProjectCreator || isCollaborator)" class="presentation-fullscreen">
      <button pButton label="Stop Presentation" class="p-button-danger" (click)="stopPresentation()"></button>
      <iframe
        [src]="sanitizedFileContent"
        frameborder="0"
        class="file-iframe"
      ></iframe>
    </div>
  
    <!-- Non-Presenters -->
    <div *ngIf="!isProjectCreator && !isCollaborator" class="non-presenter-container">
      <textarea
        pInputTextarea
        [(ngModel)]="message"
        rows="3"
        placeholder="Type a message to the presenter..."
      ></textarea>
      <button pButton label="Send Message" icon="pi pi-send" class="p-button-primary" (click)="sendMessage()"></button>
    </div>
  
    <!-- Start Presentation Button -->
    <div *ngIf="!isPresenting && (isProjectCreator || isCollaborator)">
      <button pButton label="Start Presentation" icon="pi pi-play" class="p-button-success" (click)="startPresentation()"></button>
    </div>
  
    <!-- Toast Notification -->
    <p-toast></p-toast>
  </div>
  