/* login.component.scss */
:host {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .p-card {
    margin-top: 50px;
  }
  
  .p-field {
    margin-bottom: 1rem;
  }
  .logout-login{
    margin-left:50px;
  }
  .login-class{
    margin-top: 15%;
  }