.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #007ad9;
    color: #fff;
    border: none;
  }
  
  .top-menu .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    color: #fff;
    height: 50px;
    width: 50px;
  }
  
  .p-menubar .p-button {
    margin-right: 1rem;
  }
  
.menu-logo{
    max-width: 50px;
    border-radius: 8px;
    margin-right: 5px;
}

/* Hide search bar and display search icon on smaller screens */
.menu-search {
    width: 250px;
  }
  
  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .menu-search {
      display: none; /* Hide the regular search bar */
    }
    .menu-icon {
      display: inline-block; /* Show the search icon */
    }
  }


.header-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.menu-image{
  padding-left: 5px;
  padding-right: 5px;
}

.icon-menu-l{
  margin-left:5px;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 576px) { /* For mobile devices */
  .icon-menu-l1 {
      display: none;
  }
}

.header-image-l {
  display: inline-flex;
  // margin: 0px 3px 0px 3px;
  gap: 5px;
}