
<div class="project-container">
    <!-- Main Content -->
    <div class="project-main">
      <div
        class="project-header"
      >
        <div 
          class="project-title"
        >
          <p-image 
            *ngIf="projectData?.name"
            src="{{image}}"
            alt="{{projectData?.name}}" 
            width="250" 
            [preview]="true"
            class="project-image"
          />
          <div
          >
            <h3>{{projectData?.name}}</h3>
            <p-scrollPanel [style]="{ width: '100%', height: '60px' }">
              {{ projectData?.description }}
            </p-scrollPanel>
          </div>
            
        </div>
        <p-card class="project-metrics">
          <span>Rank: {{projectData?.rank}}</span>
          <br>
          <span>Likes: {{metrics?.likes}}</span>
          <br>
          <span>Comments: {{metrics?.comments}}</span>
        </p-card>
      </div>
      
      <!-- Folder and File Structure -->
      <div class="containt">
        <p-panel
          class="project-structure"
          styleClass="w-full"
        >
          <ng-template #header>
            <i class="pi pi-sitemap"></i>
            <span style="font-weight: bold;">Structure</span>
          </ng-template>
          <ng-template #icons *ngIf="showUpload">
            <p-button icon="pi pi-upload" severity="secondary" rounded text (click)="menu.toggle($event)" />
            <p-menu #menu id="config_menu" [model]="fileMenuItem" [popup]="true"/>
          </ng-template>
          <!-- create folder dialogue -->
          <p-dialog [(visible)]="showCreateFolder" [modal]="true">
            <ng-template #header>
              <div class="inline-flex items-center justify-center gap-2">
                  <span class="font-bold whitespace-nowrap">Enter New Folder Name</span>
              </div>
            </ng-template>
            <div class="flex items-center gap-4 mb-4">
              <label for="name" class="font-semibold w-24">Name</label>
              <input 
                pInputText id="name" 
                class="flex-auto" 
                autocomplete="off" 
                [(ngModel)]="newFolderName"  
                />
            </div>
            <div class="flex justify-end gap-2">
              <p-button label="Cancel" severity="secondary" (click)="showCreateFolder = false" />
              <p-button label="Save" (click)="createFolder()" />
            </div>
          </p-dialog>
          <!-- <ng-template #content class="project-structure-tree"> -->
          <p-tree [value]="structure" styleClass="w-full" selectionMode="single" [(selection)]="selectedFile" 
            scrollHeight="300px" [virtualScroll]="true" [virtualScrollItemSize]="46"
            class="srtucture-tree"
            [highlightOnSelect]="true"
            (onNodeSelect)="onNodeSelect($event)"
          />
          <!-- </ng-template> -->
        </p-panel>
        <p-panel
          class="project-files"
        >
        <ng-template #header>
            <div class="flex items-center gap-2">
                <h4 style="font-size: bold;">
                  <i class={{selectedIcon}}></i>
                  <span >{{selectedName}}</span>
                </h4>
            </div>
        </ng-template>
        <ng-template #icons >
          <p-button icon="pi pi-arrow-up" severity="secondary" pTooltip="Present" rounded text [routerLink]="['/projects/presentation/',this.projectId]" />
          <p-button icon="pi pi-play" *ngIf="currentFileCanRun" severity="secondary" rounded text (click)="runCode()" />
          <p-button icon="pi pi-plreplayay" *ngIf="ran" severity="secondary" rounded text (click)="runCode()" />
          <p-button icon="pi pi-pause" [disabled]="true" *ngIf="runLoading" severity="secondary" rounded text/>
          <p-button icon="pi pi-upload" *ngIf="showUpload" severity="secondary" rounded text (click)="menu.toggle($event)" />
          <p-menu #menu id="config_menu"  [model]="fileMenuItem" [popup]="true"/>
        </ng-template>
        <!-- <ng-template #content> -->
          <div *ngIf="contentType==='folder'">
            <p-tree [value]="selectedFile.children" styleClass="w-full" selectionMode="single" [(selection)]="selectedFile" 
            scrollHeight="300px" [virtualScroll]="true" [virtualScrollItemSize]="46"
            class="srtucture-tree"
            [highlightOnSelect]="true"
            (onNodeSelect)="onNodeSelect($event)"
            />
          </div>
        <!-- </ng-template> -->
        <div *ngIf="isFileContentLoading" class="loading-spinner">
          <p>Loading file content...</p>
        </div>
        <div *ngIf="contentType==='file'&&!(showConsole&&!runLoading)">
          <iframe [src]="iframeSrc" 
          
          frameborder="0" style="width: 100%; min-height: 500px;"></iframe>
        </div>
          <div *ngIf="showConsole&&!runLoading">
            <p-editor
              [(ngModel)]="consoleContent"
              [style]="{ height: '300px' }"
              [readonly]="true"
            ></p-editor>
          </div>
          <div *ngIf="runLoading">
            Code running..........
            Please wait!
          </div>
          <!-- <p-editor 
            [readonly]="true" 
            [style]="{ height: '320px' }" 
            [(ngModel)]="fileContent">
          </p-editor> -->
        </p-panel>

        <p-tabView class="project-side">
          <p-tabPanel header="Comments">
            <div class="comment-display">
              <div *ngFor="let comment of comments" >
                <p-avatar [image]="comment.image" icon="pi pi-user"></p-avatar>
                <span>{{comment.name}}</span>
                <p>{{ comment.text }}</p>
                <!-- <span>{{ comment.likes }} likes</span> -->
                <p-divider></p-divider>
              </div>
            </div>
            
            <textarea [(ngModel)]="newComment" placeholder="Add a comment..." pTextarea></textarea>
            <button pButton (click)="addComment()">Post Comment</button>
          </p-tabPanel>
          <p-tabPanel header="Likes">
            <button pButton (click)="toggleLike()" icon="pi pi-thumbs-up">Like</button>

            <div *ngFor="let like of likes">
              <p-avatar [image]="like.image" icon="pi pi-user"></p-avatar>
              <span>{{ like.name }}</span>
              <p></p>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Setting" *ngIf="isProjectOwner">
          <a [routerLink]="['/projects/setting', projectId]" class="p-button">
            Open Setting
          </a>
          </p-tabPanel>
        </p-tabView>
       </div>
  </div>
  <input 
  type="file" 
  id="hiddenFileInput" 
  style="display: none;" 
  (change)="onUpload($event)" 
  multiple/>
  <iframe [src]="iframeSrc" 
          
          frameborder="0" style="display: none;"></iframe>