.project-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
  
    .project-main {
      flex: 2;
      margin-right: 20px;
    }

    .project-title{
      width: 70%;
      align-items: center;
      align-content: center;
      text-align: center;
    }

    .project-metrics{
      width: 20%;
    }
    .project-structure{
      height:100%;
      width: 19%;
      min-width:250px;
      // display: flex;
      margin: 5px;
      // overflow: hidden;
      .srtucture-tree{
        padding: 0 !important;
        width: 600px;
      }
      .p-component{
        width: 100%;
      }
    }
    .project-structure-tree{
      max-height: 4vh;
      overflow-y: auto;
      .w-full{
        padding: 0;
      }
    }
    .containt{
      display: flex;
      flex-wrap: wrap;
    }
    .project-files{
      width: 59%;
      min-width: 350px;
      margin: 5px;
    }
    .project-side {
      flex: 1;
      position: sticky;
      top: 20px;
      max-width: 19%;
      // margin-left:auto;
      margin: 5px;
      width: fit-content;
      min-width:200px;
      max-width: 500px;
    }
    .comment-display{
      height: 300px;
      overflow-y: auto;
    }
    .project-image{
      position: relative;
    }
    .project-header{
      margin-bottom: 15px;
      padding:0;
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  ::ng-deep .p-editor-content pre.output {
    color: green;
    font-family: 'Courier New', Courier, monospace;
  }
  
  ::ng-deep .p-editor-content pre.error {
    color: red;
    font-family: 'Courier New', Courier, monospace;
  }
  
  ::ng-deep .p-editor-content pre.warning {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
  }
  
  ::ng-deep .p-editor-content pre {
    white-space: pre-wrap; /* Preserve formatting */
    word-break: break-word; /* Prevent overflow */
  }
  